format = """
$directory\
$git_branch\
$git_status\
$fill\
$python\
$c\
$lua\
$nodejs\
$jobs\
$cmd_duration\
$line_break\
$character"""

[fill]
symbol = ' '

[directory]
truncation_symbol = ".../"

[git_branch]
symbol = 'Ôêò '
