@import url("/home/bulb/.cache/wal/colors-waybar.css");

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'DepartureMono';
  font-size: 12px;
  transition: all 0.5s ease;
  color: @color14;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: @foreground;
}

#workspaces button,
#clock,
#battery,
#language,
#bluetooth,
#network,
#pulseaudio,
#cava-group {
  background-color: @background;
}

#clock,
#battery,
#language,
#bluetooth,
#network,
#pulseaudio,
#cava-group {
  padding: 4px 10px;
  border-bottom: 2px solid @color3;
}

#workspaces button {
  padding: 0px 8px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

#workspaces button.focused {
  border-bottom: 2px solid @color3;
}

#workspaces button.active {
  border-bottom: 2px solid @color3;
}

#network {
  font-size: 14px;
  min-width: 17px;
  padding-left: 6px;
}

#pulseaudio {
  min-width: 16px;
  padding-left: 5px;
}

#bluetooth {
  font-size: 14px;
  min-width: 12px;
  padding-left: 9px;
}

#cava-group {
  min-width: 160px;
}

#custom-cava-icon {
  padding-right: 8px;
}
